@import "tailwindcss";
@import "./components/layout.css";
@import "./components/buttons.css";

/* Custom base styles */
@layer base {
  .skip-link {
    background: #ff6e00;
    color: #fff;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  .skip-link:focus {
    transform: translateY(0%);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Urbanist", sans-serif;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
}

@theme {
  --color-primary: #368bef;
  --color-secondary: #ff6f1a;
  --color-forest: #2a4828;
  --color-misty: #a5c2d3;
  --color-shadow: #4c6a7a;
  --color-cloud: #edf4f7;
  --color-grass: #819c3b;
}
