{% extends "/scaffolding/base.twig" %}

{% block content %}
	<div class="mx-auto max-w-7xl py-32">
		<h1 class="text-7xl font-bold text-gray-900 mb-8">Retro Sci-Fi</h1>
		<p class="text-gray-600 mb-8">Retro sci-fi refers to science fiction that evokes the style, aesthetics, and imaginative visions of the future as seen through the lens of past eras, particularly the mid-20th century. It captures the optimism, sleek designs, vibrant colors, and technological fantasies popularized in the 1950s through the 1970s, often featuring ray guns, rocket ships, robots, and futuristic cities. Retro sci-fi blends nostalgia with imaginative storytelling, reimagining vintage concepts of the future while exploring themes of human innovation, exploration, and adventure.</p>
		<div class="flex space-x-8">
			<img src="{{ theme.path }}/dist/images/blog/Futuristic Interior with Arched Doorways.jpeg" alt="Futuristic Interior with Arched Doorways" class="rounded-3xl h-80 object-cover">
			<img src="{{ theme.path }}/dist/images/blog/arcade.jpg" alt="Arcade" class="rounded-3xl h-80 object-cover">
			<img src="{{ theme.path }}/dist/images/blog/humanoid.jpg" alt="Humanoid" class="rounded-3xl h-80 object-cover">
		</div>
	</div>
{% endblock %}
