{% extends "/scaffolding/base.twig" %}

{% block content %}
	{% include "/components/hero/front-page-hero.twig" %}
	<section class="py-24 bg-slate-100" id="content">
		<div class="content-wrapper">
			<div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
				<div class="bg-white rounded-3xl text-center shadow-2xl p-8">
					<img class="rounded-2xl h-96 w-full object-cover" src="{{ theme.path }}/dist/images/homepage_card.jpg" alt="">
					<h2 class="font-semibold text-2xl h-16 mt-8">The Genesis of Tomorrow's Yesterday</h2>
					<p class="text-lg mt-2">Delve into the origins of retro sci-fi, a genre born from past visions of the future. Discover how early science fiction writers and artists laid the groundwork for this captivating aesthetic, imagining worlds that now feel both nostalgic and strangely prescient.</p>
				</div>
				<div class="bg-white rounded-3xl text-center shadow-2xl p-8">
					<img class="rounded-2xl h-96 w-full object-cover" src="{{ theme.path }}/dist/images/homepage_card_2.jpg" alt="">
					<h2 class="font-semibold text-2xl h-16 mt-8">Chrome, Neon & Cosmic Dreams</h2>
					<p class="text-lg mt-2">Explore the iconic visual language of retro sci-fi. From gleaming chrome spaceships and neon-drenched cityscapes to analog interfaces and raygun-toting heroes, we break down the common tropes and design elements that define this distinctive style.</p>
				</div>
				<div class="bg-white rounded-3xl text-center shadow-2xl p-8">
					<img class="rounded-2xl h-96 w-full object-cover" src="{{ theme.path }}/dist/images/homepage_card_3.jpg" alt="">
					<h2 class="font-semibold text-2xl h-16 mt-8">Echoes of the Future Past</h2>
					<p class="text-lg mt-2">Uncover the enduring cultural impact of retro sci-fi. See how its themes and aesthetics continue to inspire contemporary art, film, fashion, and games, proving that these visions of bygone futures still resonate powerfully today.</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
